<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta
      name="author"
      content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
    />
    <meta name="generator" content="Hugo 0.88.1" />
    <title>Welcome to Wordy</title>

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/5.1/examples/cover/"
    />

    <!-- Bootstrap core CSS -->
    <link
      href="https://getbootstrap.com/docs/5.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/5.1/examples/cover/cover.css" rel="stylesheet" />
  </head>
  <body >
    <div class="container d-flex w-100 mx-auto flex-column">
      <%- include('../partials/header.ejs') %>
      <main class="px-3">
        <h1 class="text-center">Welcome to Wordy</h1>
        <p class="lead text-center">
          Wordy is a mini blog website where you can create,read,update and delete posts created by you. Wordy allows everyone to publish posts without undergoing any validation.
        </p>
        <p class="lead text-center">
          <a
            href="/posts/new_post"
            class="btn btn-lg btn-secondary fw-bold border-white bg-primary text-white"
            >Publish a Post</a
          >
        </p>
      </main>

      <%- include('../partials/footer.ejs') %>
    </div>
  </body>
</html>
