<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>

  <body>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
      <symbol id="check" viewBox="0 0 16 16">
        <title>Check</title>
        <path
          d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"
        />
      </symbol>
    </svg>

    <div class="container">
      <%- include('../partials/header.ejs') %>
      
      <style>
          .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
          }
    
          @media (min-width: 768px) {
            .bd-placeholder-img-lg {
              font-size: 3.5rem;
            }
          }
        </style>
    
    <main class="form-signin">
     <form action="/auth/login" method="post">
       <h1 style="text-align: center;" class="h3 mb-3 fw-normal">Please sign</h1>

       <%- include('../partials/flash.ejs') %>


        <div class="form-floating">
          <input name="email" required type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>
       <div class="form-floating">
         <input name="password" required type="password" class="form-control" id="floatingPassword" placeholder="Password">
         <label for="floatingPassword">Password</label>
       </div>
   
       <div class="checkbox mb-3">
         <label>
           <input type="checkbox" value="remember-me"> Remember me
         </label>
       </div>
       <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
       <div class="py-3">Don't Have an account? <a href="/auth/register">Register</a></div>
     </form>
   </main>
    

    <%- include('../partials/footer.ejs') %>
    </div>
  </body>
</html>